.logo{
    width: 60px;
    height: fit-content;
    
   
}

/* .h3{
    margin-top: 25px;
} */



.table {
    width: 100%;
  }
  
thead {
    height: 70px;
  }

tbody{
    height: 507px;
}


.Navlink{
  outline: none;
  text-shadow: inherit;
  color: #fff;

  
}
a:link { text-decoration: none; }

.bg{
  background-color: #000;
  background-repeat: no-repeat;
  height: 200%;
}




.Devicecard_bg{
  /* background-color: #1a1c29; */
  background-color: #eee;
  margin-top: 20px;
  /* margin-bottom: 190px; */
  /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 8px;

}


.info_bg{
  background-color: #fff;
  margin: 20px;
  

}
